@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body, html{
  font-family: Montserrat;
  margin:0;
  height: 100%;
}

body{
  overflow-x:hidden;
}

#container {
  width:100%;
  min-height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#header_div{
  padding-top: 20px;
  overflow-x: hidden;
}

#Etusivu_btn, #Info_btn, #Rekistroidy_btn, #Kirjaudu_btn, #Profile_avatar, #main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title, #footer_social{
  display:none;
}

#hamburger_div{
  z-index:2;
  position:relative;
  display:inline-block;
  float:right;
  width:48px;
  height:48px;
  cursor:pointer;
}

#hamburger_icon{
  position:absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#hamburger_menu{
  background-color: #34ebbd;
  z-index: 1;
  height:100%;
  width:200px;
  position:absolute;
  right:-200px;
  padding-top: 100px;
  opacity: 0.9;
  border-radius: 3px;
}

#logo_div{
  display:inline-block;
  float:left;
  cursor:pointer;
  width:250px;
}

#hero{
  margin-top: 20px;
  height:300px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("/res/hero_image_mobile.png");
  background-repeat: no-repeat;
  color:white;
}

#main_text_mobile, #secondary_text_mobile{
  font-family: Montserrat Alternates;
  text-align: right;
  display:block;
  margin-right: 5%;
  text-shadow: 1px 1px 1px 1px #000000;
}

#council_container{
  max-width: 320px;
  margin:auto;
}

#test_council_1{
  border-radius: 5px;
  height:300px;
  width:300px;
  backround:white;
  border:solid;
  float:left;
  margin:10px;
  margin-top:40px;
  cursor:pointer;
}

#test_council_1:hover{
  box-shadow: 2px 2px 10px #000000
}

#footer {
  position: absolute;
  width:100%;
  min-width: 320px;
  height: auto;
  margin-top: 200px;
  clear:both;
  background-color: rgba(1,175,196,0.7);
}

#footer_container{
  color:rgba(203,208,211,1);
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 15px;
  text-align: left;
  width:100%;
  min-width: 320px;
}

#footer_logo{
  margin:5px;
}

#footer_navi{
  float:left;
  margin:15px;
}
#footer_navi2{
  float:left;
  margin:15px;
}

#logo_url{
  content:url("/res/digiraati_logo.png");
}

#footer_logo_url{
  content:url("/res/digiraati_logo_valk.png");
}
/*Everything below is css for desktop view of the website.*/
@media (min-width:800px){
  #hamburger_div, #main_text_mobile, #secondary_text_mobile, #hamburger_menu{
    display:none;
  }

  #Etusivu_btn, #Info_btn, #Rekistroidy_btn, #Kirjaudu_btn, #Profile_avatar, #main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title, #footer_social{
    display:inline-block;
  }

  #main_text_desktop, #secondary_text_desktop{
    font-family: Montserrat Alternates;
    text-align: right;
    display:block;
    margin-right: 5%;
    font-weight: bold;
    text-shadow: 1px 1px 10px #000000;
  }

  #header_navi_btns{
    font-family: Montserrat;
    float:right;
    margin-right: 40px;
  }
  #avatar_url{
    content:url("/res/avatar.png");
  }

  #header_btns{
    width:100%;
    margin:25px;
    margin-right:2%;
  }
  #header_btns span{
    cursor:pointer;
    margin-left: 20px;
  }

  #hero{
    position: relative;
    height:400px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/res/hero_image2.png");
    background-repeat: no-repeat;
    color:white;
  }

  #hero_text{
    position:relative;
    float:right;
    text-align: right;
    padding: 100px;
  }

  #hero_search_councils_btn_desktop{
    margin: auto;
    position: absolute;
    bottom:50px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    cursor: pointer;
    font-weight: bold;
  }

  #council_container{
    max-width: 1200px;
    margin:auto;
  }

  #filter{
    margin:20px;
    max-width: 1200px;
    position:relative;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    font-weight: bold;
  }

  #filter #selector, #sorter, #search{
    float:left;
    margin: 0 auto;
    cursor: pointer;
  }

  .selector_btn:hover{
    box-shadow: 1px 1px 5px rgba(254,4,86,1);
  }

  #selector #ongoing, #newest, #popularest{
    float:left;
    margin-left:10px;
    margin-right:10px;
  }

  .inactive{
    padding:5px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(254,4,86,1);
    color: rgba(254,4,86,1);
  }

  .active {
    padding:5px;
    background: rgba(254,4,86,1);
    color:white;
    border-radius: 5px;
    border-width: 1px;
    border:solid;
    border-color: rgba(254,4,86,1);
  }

  #sorter #list, #small_grid, #large_grid{
    margin-left:1px;
    padding: 5px;
    position:relative;
  }

  .sorter_active{
    background: rgba(1,175,196,1);
    border-color: white;
    border-radius: 2px;
    color: white;
  }

  .sorter_inactive{
    background: white;
    border-color: rgba(1,175,196,1);
    border-radius: 2px;
    color: rgba(1,175,196,1);
  }

  #filter #search {
    margin-left:50px;
  }

  #council_title {
    margin: 20px;
    margin-left: 50px;
  }

  #council_list{

  }

  #footer {
    position: relative;
    height: 170px;
    margin-top: 200px;
    clear:both;
    background-color: rgba(1,175,196,0.7);
  }

  #footer_container{
    max-width: 1000px;
    margin:auto;
  }

  #footer_container #footer_logo{
    float:left;
  }

  #footer_container #footer_navi{
    float:left;
    margin:30px;
  }
  #footer_container #footer_navi2{
    float:left;
    margin:30px;
  }
  #footer_container #footer_social{
    float:left;
    margin:30px;
  }

  #test_council_1{
    border-radius: 5px;
    height:300px;
    width:400px;
    backround:white;
    border:solid;
    float:left;
    margin:10px;
    margin-top:40px;
    cursor:pointer;
  }

}
