@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat Alternates:400,700");

#footer{
    width: 80%;
    margin-left: 2.5%;
}

.deleted{
    color: grey !important; 
    font-style: italic !important;
}

.modal_message_title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
}

.message_bottom_buttons{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 5px;
}

.narrow{
    width: 60% !important;
}

.save_message_btn_small{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    background-color: rgba(1,175,196,1);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.delete_message_btn_small{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    background-color:rgba(250, 105, 128,1);
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.disabled{
    background-color: grey !important;
    border-color: grey !important;
    color: black !important;
}

.modal_additional_actions{
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.modal_bottom_buttons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.modal_container{
    z-index: 95;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: white;
    font-family: Montserrat;
    font-size: 13px;
    color: black;
}

.modal_btn_container{
    width: 50%;
    margin: auto;
}

.modal_line_button{
    padding: 5px 10px 5px 10px;
    background-color: rgba(1,175,196,1);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin: auto;
    cursor: pointer;
}

#delete_council_btn{
    background-color: rgba(250, 105, 128,1);
    color: black;
}

.save_btn{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    background-color: 
    rgba(1,175,196,1);
    color: black;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
}

.cancel_btn{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    background-color: rgba(250, 105, 128,1);
    color: black;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
}

.modal_file_entry{
    width: 
}

.small_cancel_btn{
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(250, 105, 128,1);
    color: black;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
}

#content_container{
    width: 80%;
    margin-left: 2.5%;
}

.footer_link{
    font-family: Montserrat;
    font-size: 16px;
    cursor: pointer;
    width: auto;
}

.title_bar{
    width: 80%;
    height: 50px;
    background-color: rgba(1,175,196,1);
    color: white;
    display: flex;    
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}

.angle_icons{
    width: auto;
    padding-top: 10px;
    margin-right: 10px;
}

#council_span, #users_span{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.council_btn, .user_btn{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 96, 115);
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header_text{
    margin-left: 10px;
}

.angle_icon{
    color: white;
}

.title_text{
    padding-top: 10px;
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.modal_supermod_content_container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 95%;
    font-size: 16px;
}

.modal_half_div{
    width: 50%;
    justify-content: space-evenly;
    height: 95%;
    column-gap: 5px;
}

.right_side_meta_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.supermod_userlist_item{
    display: block;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
};

.supermod_userlist_role_container{
    width: 40%;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.supermod_userlist_promote{
    width: 40%;
    background-color: rgb(12, 192, 93);
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

.supermod_userlist_demote{
    width: 40%;
    background-color: rgb(192, 12, 81);
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}
