
body, html{
  font-family: Montserrat;
  margin:0;
  height: 100%;
}

body{
  overflow-x:hidden;
}

#hero{
  margin-top: 20px;
  height:450px;
  background-image: url("/res/hero_image_create.png");
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
}

#hero_text_area{
  width:50%;
  float:right;
  text-align: center;
}

#hero_main_text{
  margin-top:100px;
  line-height: 57px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  text-shadow: 1px 1px 5px #000000;
}

#hero_secondary_text{
  margin-top:20px;
  line-height: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px 5px #000000;
}

#hero_search_councils_btn{
  width:100px;;
  background-color: rgba(254,4,86,1);
  border-radius: 3px;
  padding: 10px 20px;
  font-weight:bold;
  cursor:pointer;
  margin:20px auto;

  box-shadow: 1px 1px 5px #000000;
}
