#container{
  min-height: 800px;
}

.modal_container{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 95%;
  background-color: white;
  border-color: white;
  z-index: 95;
}

.create_container
{
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

body, html{
  font-family: Montserrat;
  margin:0;
  height: 100%;
}

.header_container{
  margin-top: 10px;
  margin-bottom: 30px;
}

.header_image{
  width: 800px;
  height: 450px;
}

#conclusion_base{
  width: 80%;
}

body{
  overflow-x:hidden;
}

#create_container{
  max-width: 1200px;
  margin:auto;
}

trix-editor{
  height: 400px !important;
  overflow-y: auto !important;
}

#create_container input[type=text]{
  border-radius:3px;
  border-color:rgba(114,172,255,1);
  width:100%;
}

.bottom_button_container{
  width: 80%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.meta_button_container{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

textarea{
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color:rgba(235,237,237,1);
  resize: none;
}

.create_container_title{
  margin-bottom: 10px;
  line-height: 42px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color:rgba(32,33,36,1);
}

.container_button{
  background-color: rgba(1,175,196,1);
  border-style: solid;
  border-radius: 3px;
  border-color: rgba(1,175,196,1);
  color: white;
  font-family: Montserrat;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 140px;
  cursor: pointer;
  margin-bottom: 40px;
}

.red{
  background-color: rgba(254,4,86,1);
  border-color: rgba(254,4,86,1);
}

.green{
  background-color: rgba(211,233,148,1);
  border-color: rgba(211,233,148,1);
}

.disabled{
  background-color: white;
  border-color: rgba(1,175,196,1);
  color: rgba(1,175,196,1);
}

.create_meta_container_hor{
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.create_meta_container_ver{
  font-family: Montserrat;
  font-size: 12px;
  width: 25%;
}

.create_meta_container{
  margin-bottom: 20px;
}

#detailed_create_title{
  margin-top:100px;
  font-family:Helvetica;
  font-weight: bold;
  font-size:20px;
  color:rgba(254,4,86,1);
}

.create_text{
  margin-top:20px;
  line-height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size:14px;
  color:rgba(32,33,36,1);
}

.startdate_input, .enddate_input{
  font-family: Montserrat;
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(246,248,249,1);
  border-color:rgba(235,237,237,1);
}

.active{
  background-color: rgba(254, 4, 86, 1);
  color:white;
  border-color:rgba(254, 4, 86, 1);;
  border:solid;
}

.inactive{
  color: rgba(254, 4, 86, 1);
  border-color: rgba(254, 4, 86, 1);
  background-color: white;
  border:solid;
}

input[type="time"], input[type="date"]
{
  font-family: Montserrat;
  font-size: 14px;
}

#create_description_text_input {

}

#confirm_create{
  float:left;
  width:100px;
  background-color: rgba(254,4,86,1);
  border-radius: 3px;
  padding: 10px 20px;
  font-weight:bold;
  cursor:pointer;
  margin:20px auto;
  color:white;
  text-align: center;
  box-shadow: 1px 1px 5px #000000;
}

#limit_number{
  display:none;
}
