#footer_navi, #footer_navi2, #footer_social{
  display:none;
}

#footer {
  position: absolute !important;
  bottom: 0px !important;
  width:100%;
  clear:both;
  background-color: rgba(1,175,196,1);
  z-index: 98;
}

#footer_container{
  max-height: 175px;
  width:90%;
  margin:0px 5%;
  vertical-align: top;
  z-index: 98;
}

.nav_button{
  cursor: pointer;
}

#footer_logo{
  display:inline-block;
  z-index: 99;
}

#footer_container, #footer_navi, #footer_navi2, #footer_social{
  vertical-align: top;
}

#footer_navi, #footer_navi2, #footer_social{
  margin:50px 30px 0px 50px;
  color:rgba(203,208,211,1);
  text-align: left;
  font: 13px/20px Montserrat;
  letter-spacing: 0;
  color: #F6F8F9;
  font-weight: 600;
  opacity: 1;
}

#footer_logo_url{
  z-index: 99;
}

@media (min-width:1000px){

  #footer {
    height: 175px;
    clear:both;
    background-color: rgba(1,175,196,1);
    bottom:0px;
    position: relative;
  }

  #footer_container{
    width:90%;
    max-height: 150px;
    margin:0px 5%;
    vertical-align: top;
  }

  #footer_container, #footer_navi, #footer_navi2, #footer_social{
    display:inline-block;
    vertical-align: top;
  }

  #footer_twitter, #footer_facebook, #footer_insta{
    padding-right: 30px;
  }

  #footer_social{
    float: right;
    margin-right: 15%;
  }

  #footer_navi, #footer_navi2{
    margin:50px 30px 0px 50px;
    color:rgba(203,208,211,1);
    text-align: left;
    font: 13px/20px Montserrat;
    letter-spacing: 0;
    color: #F6F8F9;
    font-weight: 300;
    opacity: 1;
  }

}
