#footer {
  width:100%;
  min-width: 320px;
  height: 150px;
  clear:both;
  background-color: rgba(1,175,196,1);
  bottom:0px;
}

#footer_container{
  color:rgba(203,208,211,1);
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  width:100%;
  min-width: 320px;
}

#footer_logo{
  display:inline-block;
  width: 300px;
}

#footer_navi{
  display: inline-block;
  margin:30px;
}
#footer_navi2{
  display: inline-block;
  margin:30px;
}
#footer_social{
  display: inline-block;
  margin:30px;
}

#footer_logo_url{
  content:url("/res/digiraati_logo_valk.png");
}

@media (min-width:1000){
  #footer {
    position:absolute;
    height: 250px;
    clear:both;
    background-color: rgba(1,175,196,1);
    bottom:0px;
  }

  #footer_container{
    max-width: 90%;
    margin:auto;
  }

  #footer_logo{
    display:inline-block;
    width: 300px;
  }

  #footer_navi{
    display: inline-block;
    margin:30px;
  }
  #footer_navi2{
    display: inline-block;
    margin:30px;
  }
  #footer_social{
    display: inline-block;
    margin:30px;
  }
}
