body, html{
  max-width:100%;
  margin:auto;
  height:100%;
}

#material_container{
  position:relative;
  width:100%;
  height:130%;
}

#left_menu{
  padding:5px;
  display:block;
  width:14%;
  height:2000px;
  top:0px;
  background:rgb(0, 96, 115);
  padding-top:130px;
  color:white;
}

.left_menu_title{
  margin:5px;
}

#material_content{
  position:absolute;
  display: inline-block;
  width:80%;
  height:auto;
  color:black;
  margin-left:15%;
  top:0px;
}

#material_title, #material_timetable, #material_description, #lobby_navigation{
  margin-top:20px;
  margin-left:50px;
  font-family: Montserrat;
}

#material_title{
  font-size: 32px;
  margin-top:50px;
  font-weight: bold;
}

#material_timetable{
  color:rgba(0,96,115,1);
}

#material_description{
  font-size:18px;
  line-height: 26px;
}

#lobby_navigation {
  position:relative;
  display:inline-block;
  padding-left: 5%;
  height:auto;
  width:80%;
  background-color: rgb(255,255,255,1);
  z-index: 15;
}

#lobby_navigation div{
  display: inline-block;
  margin:10px;
  font-size:11px;
  font-weight: bold;
  font-family: Montserrat;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:3px;
  cursor:pointer;
}

div .active{
  background-color: rgba(235,237,237,1);
}
div .inactive{
  background-color: rgba(255,255,255,1);
}

#file_list{
  float:left;
  width:50%;
  margin-left:10%;
}

#current_document{
  display:none;
}

#all_documents_btn{
  width:86%;
}

#file_list div{
  text-align: left;
  font: Bold 30px/37px Montserrat;
  letter-spacing: 0;
  color: #006073;
  opacity: 1;
  border-bottom-style: solid;
  border-color:#01AFC4;
  border-width:1px;
  padding: 15px 5px;
  cursor:pointer;
}

#comment_view{
  position:absolute;
  min-width:70%;
  height:70%;
  overflow-y: scroll;
  display:inline-block;
}

#pdf_div{
  width:auto;
  border-style:solid;
  border-width:1px;
  border-color:rgba(40,40,40,0.5);
}

#comment_layer{
  position:relative;
  z-index:7;
  height:0px;
  width:0px;
}

#document_navigation{
  height:auto;
  width:86%;
}

#document_navigation div{
  display: inline-block;
  padding: 0px 30px;
  width:86%;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  cursor:pointer;
}

.document_navi_active{
  background-color:rgba(1,175,196,1);
  color:white;
}

.document_navi_inactive{
  background-color:rgba(204,255,255,1);
  color:rgba(0,96,115,1);
}


.temp_comment{
  border:dashed;
  position:absolute;
  border-width:2px;
  border-color:black;
  background-color: rgb(200,200,200,0.5);
}

#comment_text_input{
  position:absolute;
  
}

.comment{
  position:absolute;
  border-color: black;
  background-color: rgb(255,255,0, 0.5);
}

.page{
  position:relative;
}

.comment_close_btn{
  float:right;
  right:-15px;
  top:-15px;
  border-radius:50%;
  background-color: rgb(200,200,200,0.5);
  z-index: 10;
  color:red;
  cursor:pointer;
  padding:2px;
}

.comment_add_btn{
  float:left;
  left:-15px;
  top:-15px;
  background-color: rgb(200,200,200,0.5);
  color:green;
  border-radius:50%;
  position:relative;
  z-index: 10;
  cursor:pointer;
  padding:2px;
}

#comment_list_div {
  display:inline-block;
  width:15%;
  float:right;
  right:30px;
}

#comment_list_title{
  text-align: center;
}

.comment_in_list{
  position:relative;
  width:100%;
  height: auto;
  border:solid;
  border-radius:3px;
  border-width: 0px;
  background:rgb(200,200,200, 0.5);
  cursor:pointer;
  padding:5px;
}

#add_file_btn{
  cursor: pointer;
}

#message_list hr{
  opacity:0.5;
}

#document_container{
  display:none;
}

#file_filter{
  margin: 15px 15px 15px 15px;
}

#file_filter input{
  border-radius:5px;
  margin:20px 20px 20px 20px;
  border-width: 1px;
}

#newest_files_sorter, #popularest_files_sorter{
  padding:5px 10px;
  display:inline-block;
  border-radius: 3px;
  background-color: rgba(200,200,200,1);
  cursor:pointer;
}
