@import url("https://use.typekit.net/gbv0ney.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat Alternates:400,700");


.loader_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  background-color: white;
  z-index: 98;
}

.warning_header{
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
}

.loader {
  position: absolute;
  top: 15%;
  left: 45.3%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(1,175,196,1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: rgba(1,175,196,1);
  z-index: 99;
}


body, html{
  max-width:100%;
  margin:auto;
  height:100%;
}

.no_question_text{
  font-family: Montserrat;
  font-size: 16px;
}

#conclusion_container{
  position:relative;
  width:100%;
  height: calc(100% - 0px - 69px - 60px - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  color:white;
}

#conclusion_content{
  position:absolute;
  display: inline-block;
  width:90%;
  height:auto;
  color:black;
  margin-left:10%;
  top:0px;
}

.question_container{
  margin-left: 50px;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.conclusion_sender{
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  color: rgba(1,175,196,1);
}

.conclusion_content{
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 16px;
  margin-left: 5px;
}

.separator{

  margin-top: 15px;
  height: 2px;
  width:100%;
  background: -moz-linear-gradient(left, rgba(214,214,214,0) 0%, rgba(203,203,203,0.6) 24%, rgba(191,191,191,1) 50%, rgba(203,203,203,0.6) 76%, rgba(214,214,214,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(214,214,214,0) 0%,rgba(203,203,203,0.6) 24%,rgba(191,191,191,1) 50%,rgba(203,203,203,0.6) 76%,rgba(214,214,214,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(214,214,214,0) 0%,rgba(203,203,203,0.6) 24%,rgba(191,191,191,1) 50%,rgba(203,203,203,0.6) 76%,rgba(214,214,214,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6d6d6', endColorstr='#00d6d6d6',GradientType=1 ); /* IE6-9 */
}

#conclusion_hashtag{
  background-color:rgba(1,175,196,1);
  font-weight: bold;
  padding:0px 50px;
  width:100%;
  color:white;
  text-align: left;
  font: Bold 32px/48px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

#conclusion_title, #conclusion_timetable, #conclusion_description, #conclusion_navigator{
  margin-top:20px;
  margin-left:50px;
  font-family: Montserrat;
}

#conclusion_title{
  font-size: 32px;
  margin-top:50px;
  font-weight: bold;
}

#conclusion_timetable{
  color:rgba(0,96,115,1);
}

#conclusion_input_description{
  font-size:18px;
  line-height: 26px;
}

#lobby_navigation, #conclusion_navigator{
  position: relative;
  width:100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  color:black;
  font-family: Montserrat;
}

.lobby_meta_container{
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.lobby_home_text{
  padding-bottom: 25px;
  font-weight: bold;
}


div .active{
  background-color: rgba(157,224,232,1);
  font-size: 14px;
  font-family: Montserrat; 
  height: 15px;
}

div .inactive{
  background-color: rgba(255,255,255,1);
  height: 15px;
}

.question_nav_container{
  width: 100%;
  display: flex;
  text-align: center;
}

.back_button, .forw_button{
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5%;
  background-color: rgba(143, 153, 153, 1);
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(235,237,237,1);
  border-width: 1px;
  width: 10%;
  text-align: center;
  padding: 10px 15px;
}

.forw_button{
  margin-right: 5%;
  margin-left: auto;
  width: 10%;
  text-align: center;
  padding: 10px 15px;
}

.viewer_question_title{
  font-family: Montserrat;
  font-size: 20px;
  color: rgba(1,175,196,1);
  text-align: center;
}

div .inactive{
  font-size: 14px;
  font-family: Montserrat;
  background-color: rgba(255,255,255,1);
}

#questionnaire_hashtag{
    font-weight: bold;
    padding:20px 20px;
    width:100%;
    color: rgba(157,224,232,1);
    margin-bottom:30px;
    text-align: left;
    font: Bold 24px/48px Montserrat;
    letter-spacing: 0;
    color: rgba(1,175,196,1);
    opacity: 1;
  }
  
.conclusion_question{
  margin-left: 40px;
  font-family: Montserrat;
  font-size: 16px;
}

.answer_box{
  font-family: Montserrat;
  font-size:14px;
  width:90%;
  height:100px;
  bottom:0px;
  background-color: rgba(245,246,250,1);
  margin:10px;
  margin-left: 40px;
  border-radius:5px;
  border-color:rgba(112,112,112,0.263);
  border-style: solid;
  border-width: 2px;
  z-index: 20;
  line-height: 20px;
}

.save_conclusion_btn{
  position: relative;
  float: right;
  margin-right: 100px;
  background-color: rgba(1,175,196,1);
  color: rgba(255,255,255,1);
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(1,175,196,1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
}

#left_menu{
  padding:5px;
  position: absolute;
  display:block;
  width:10%;
  height:100%;
  top:0px;
  background:rgb(0, 96, 115);
  z-index: -5;
  padding-top:130px;
}

#conclusion_input{
  margin: 5px 0px 0px 20px;
  width:100%;
  height:500px;
  display:block;
  border-radius:3px;
  padding:5px;
  resize:none;
}

#conclusion_container_input{
  color:black;
  margin-left:10px;
}

#questionnaire_container{
  color: black;
  margin-left: 10px;
  margin-top: 40px;
}

#conclusion_div{
  width: 100%;
  display: flex;
}
#conclusion_editor{
  color: black;
  margin-left: 10px;
  padding-left: 40px;
  margin-top: 40px;
  margin-right: 5px;
  width: 60%;
}

#conclusion_chat{
  margin-top: 40px;
  width: 40%;
}

#conclusion_chat_content
{
  margin: 10px 5px;
  width: 100%;
  height: 595px;
  background-color: rgba(1,175,196,0.15);
  border-style: none;
}

.message_container{
  width: 100%;
}

.message_header{
  display: flex;
  justify-content: left;
  height: 25px;
  width: 100%;
}

.message_sender{
  color: black;
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.message_timestamp{
  color: black;
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
}

.message_text{
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.msg_separator{
  width: 95%;
  height: 2px;
  background-color: rgba(112,112,112,0.7);
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#conclusion_chat_list{
  padding-top: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  margin-bottom: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(1,175,196,0.9) rgba(1,175,196,0); /* for firefox */
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: rgba(1,175,196,0);
}
::-webkit-scrollbar-thumb{
  background: rgba(1,175,196,0.9);
  height: 25px;
}

#conclusion_chat_toggle_btn{
  width: 30%;
  padding: 5px 10px;
  text-align: center;
}

#conclusion_input_title{
  margin-top:30px;
  font-family: Monstserrat;
  font-weight: bolder;
  font-size:25px;
  line-height: 30px;
}

#save_conclusion_text{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  background: url('/res/save_conc.png') no-repeat left;
  margin-top: 5px;
  cursor:pointer;
  float:right;
  width:auto;
  padding: 10px;
  padding-left: 28px;
  color: rgba(1,175,196,0.9);
}

#refresh_conclusion_text{
  cursor:pointer;
  float:right;
  width:auto;
  padding:10px;
  background-color: rgba(235,237,237,1);
  border-radius:4px;
}