@import url("https://use.typekit.net/gbv0ney.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.loader_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  background-color: white;
  z-index: 98;
}

.loader {
  position: absolute;
  top: 15%;
  left: 45.3%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(1,175,196,1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: rgba(1,175,196,1);
  z-index: 99;
}

body{
  max-width: 100%;
  margin: auto;
}
#chat_title, #chat_timetable, #chat_description, #lobby_navigation, #left_menu, .reply_message, .second_tier_reply, #chat_hashtag{
  display: none;
}

#chat_container{
  height: auto;
}

.selected_message{
  background-color: rgba(245,246,250,1) !important;
}

#chat_message_input{
  position: relative;
  width: 90%;
  font-family: Montserrat;
  font-size:14px;
  height:90%;
  background-color: rgba(245,246,250,1);
  margin:10px;
  border-radius:5px;
  border-color:rgba(112,112,112,0.263);
  border-style: solid;
  border-width: 2px;
  z-index: 20;
}

#message_input{
  font-family: Montserrat;
  font-size: 14px;
  width: 95%;
  height: 60%;
  position:relative;
  resize:none;
  background-color: rgba(245,246,250,1);
  border-style:none;
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow-y: auto;
  padding:10px;
}

.mobile_text_entry_panel{
  font-family: Montserrat;
  z-index: 98;
  position: fixed;
  left: 2.5%;
  top: 2.5%;
  height: 95%;
  width: 95%;
  background-color: ghostwhite;
}

.mobile_text_field{
  font-family: Montserrat;
  font-size: 13px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 60%;
  margin: auto;
  resize: none;
}

.mobile_button_container{
  position: absolute;
  bottom: 75px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.mobile_send_button, .mobile_save_button{
  font-size: 14px;
  font-weight: bold;
  width: 30%;
  height: 25px;
  padding: 15px 15px;
  color: white;
  background-color: rgba(1,175,196,1);
  text-align: center;
}

.mobile_cancel_button{
  font-size: 14px;
  font-weight: bold;
  width: 30%;
  height: 25px;
  padding: 15px 15px;
  color: white;
  background-color: rgba(250, 105, 128,1);
  text-align: center;
}

.action_panel_container{
  z-index: 98;
  position: fixed;
  right: 0px;
  width: 75%;
  top: 2.5%;
  height: 15%;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reaction_panel_container{
  z-index: 98;
  position: fixed;
  left: 0px;
  width: 60%;
  top: 2.5%;
  height: 60%;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile_edit_btn, .mobile_reply_btn, .mobile_delete_btn{
  z-index: 99;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 5px;
}

.mobile_delete_btn{
  color: rgba(250, 105, 128,1);
}

#chat_content{
  position:absolute;
  display: inline-block;
  width:100%;
  height:auto;
  color:black;
}

#message_list{
  height: 750px;
  min-height: 300px;
  margin-bottom: 50px;
}

.chat_message{
  height:auto;
  display:block;
  padding:5px;
  cursor:default;
  border-radius:2px;
  padding-left: 20px;

}

.chat_avatar_ball{
  order: 0;
  border-radius: 50%;
  display: inline-block;
  padding:3px;
  width:24px;
  height:24px;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
}

.separator{
  border-style:solid;
  border-color: rgba(1,175,196,1);
  width:100%;
  border-width:1px;
  margin-bottom: 10px;
}

.message_list_text{
  font-family: 'Open Sans';
  font-size:14px;
  line-height: 22px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
  white-space: pre-wrap;
}

.likes_num{
  display:inline-block;
  margin-left:10px;
  color:rgba(250, 105, 128,1);
}

.dislikes_num{
  display:inline-block;
  margin-left:10px;
  color:rgba(250, 105, 128,1);
}

.goodargs_num{
  display: flex;
  margin-left:10px;
  color:rgba(250, 105, 128,1);
}

.message_list_timestamp{
  padding-top: 7px;
  order: 2;
  color: rgba(112,112,112,0.263);
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
}

.message_list_sender_name{
  order: 1;
  padding-top: 7px;
  margin-left:10px;
  margin-right: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

.message_time{
  margin-left:10px;
  text-align: left;
  font: Italic 14px/42px Montserrat; 
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

.reaction_container, .response_container{
  display:none;
}

.likes_btn{
  margin: 0px 5px 0px 0px;
  width:15px;
  height:15px;
  display:inline-block;
  background:url("/res/thumbup.png") no-repeat;
  cursor:pointer;
}

.dislikes_btn{
  margin: 0px 5px 0px 0px;
  width:15px;
  height:15px;
  display:inline-block;
  background:url("/res/thumbdown.png") no-repeat;
  cursor:pointer;
}

.mobile_action_button_container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#chat_message_container{
  width: 100%;
  height:100px;
  bottom:0px;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
}

.sender_container{
  display: flex;
  margin-left: 15px;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
}

.bottom_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.goodargs_btn{
  margin: 0px 5px 0px 0px;
  width:15px;
  height:15px;
  display:inline-block;
  background:url("/res/goodarg.png") no-repeat;
  cursor:pointer;
}

.likes_number, .dislikes_number, .goodargs_number{
  font-size: 13px;
  font-style:italic;
  color:#FA6980;
  font-family: Montserrat;
  display:inline-block;
}

.title_text{
  padding-top: 5px;
  padding-left: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
}

#logo_div{
  display:none;
}

.mobile_reaction_container{
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
}

.mobile_thumb_container{
  margin-bottom: 15px;
  display: flex;
  width: 15%;
}

.mobile_reaction_button{
  color: rgba(1,175,196,1);
  padding-left: 15px;
}

.mobile_message_actions{
  color: rgba(1,175,196,1);
  padding-right: 15px;
}

.reply_panel_container{
  position: fixed;
  left: 2.5%;
  top: 2.5%;
  z-index: 98;
  width: 95%;
  height: 95%;
  background-color: ghostwhite;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: rgba(112,112,112,0.263);
  border-bottom: rgba(112,112,112,0.263);
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.close_mobile_reply_panel_btn, .close_mobile_actions_panel_btn, .close_mobile_reaction_panel_btn, .close_mobile_text_entry_panel_btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

.reply_number{
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: blue;
  cursor: pointer;
}

.no_replies{
  color: rgba(112,112,112,0.3);
  text-decoration: none;
}

.reply_content{
  z-index: 99;
}


@media (min-width: 1000px)
{

  
#logo_div{
  display:inline-block;
}

.mobile_container{
    display: none
  }

  .lobby_meta_container{
    width: 10%;
    height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }

  .reaction_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
  }

  .mobile_reaction_container{
    display: none;
  }

  .mobile_message_actions{
    display: none;
  }

  .reply_number{
    display: none;
  }

  body, html{
    max-width:100%;
    margin:auto;
    height:100%;
  }

  #chat_container{
    position:relative;
    width:100%;
    height:77% !important;
    color:white;
  }

  #chat_content{
    position:absolute;
    display: inline-block;
    width:90%;
    height:auto;
    color:black;
    margin-left:10%;
  }
  
  #chat_title, #chat_timetable, #chat_description, #lobby_navigation{
    margin-top:20px;
    font-family: Montserrat;
  }

  #chat_title{
    font-size: 32px;
    margin-top:50px;
    font-weight: bold;
  }

  #chat_timetable{
    color:rgba(0,96,115,1);
  }

  #chat_description{
    font-size:18px;
    line-height: 26px;
    white-space: pre-wrap;
  }

  .lobby_navigation_text{
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
  }

  div .active{
    background-color: rgba(157,224,232,1);
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat; 
    height: 15px;
  }

  div .inactive{
    background-color: rgba(255,255,255,1);
    height: 15px;
  }

  #lobby_navigation{
    position: relative;
    width:80%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    color:black;
  }

  #chat_hashtag{
    background-color:rgba(1,175,196,1);
    font-weight: bold;
    width:100%;
    color:white;
    padding:0px 0px 0px 50px;
    margin:0px 0px 30px 0px;
    text-align: left;
    font: Bold 32px/48px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  #message_list{
    height: 750px;
    overflow-y:scroll;
    margin-bottom: 50px;
  }

  #message_list::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(245,246,250,1);
    -webkit-box-shadow: inset 0 0 6px rgba(112,112,112,0.263);
}

  #chat_message_input{
    position: relative;
    width: 90%;
    font-family: Montserrat;
    font-size:14px;
    height:90%;
    background-color: rgba(245,246,250,1);
    margin:10px;
    border-radius:5px;
    border-color:rgba(112,112,112,0.263);
    border-style: solid;
    border-width: 2px;
    z-index: 20;
  }

  .reply_box{
    font-family: Montserrat;
    font-size:14px;
    width:80%;
    height:100px;
    bottom:0px;
    background-color: rgba(245,246,250,1);
    margin:10px;
    margin-left: 40px;
    border-radius:5px;
    border-color:rgba(112,112,112,0.263);
    border-style: solid;
    border-width: 2px;
    z-index: 20;
    line-height: 22px;
  }

  .edit_box{
    font-family: Montserrat;
    font-size:14px;
    width:80%;
    height:100px;
    bottom:0px;
    background-color: rgba(245,246,250,1);
    margin:10px;
    margin-left: 40px;
    border-radius:5px;
    border-color:rgba(112,112,112,0.263);
    border-style: solid;
    border-width: 2px;
    z-index: 20;
    line-height: 22px;
  }

  .bottom_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }


  #message_input{
    font-family: Montserrat;
    font-size: 14px;
    width: 97%;
    height: 55%;
    position:relative;
    resize:none;
    background-color: rgba(245,246,250,1);
    border-style:none;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow-y: auto;
    padding:10px;
    scrollbar-width: thin;
  }

  #message_input::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  #send_btn{
    background:url('/res/aeroplane.png') left top;
    position: absolute;
    right: 5px;
    top: 5px;
    color:rgba(1,175,196,1);
    margin:10px;
    margin-top:5px;
    cursor:pointer;
    width: 21px;
    height: 18px;
  }

  .text-container{
    position: relative;
    width: 75%;
  }

  .reply_btn{
    position: absolute;
    right: 105px;
    top: 15px;
    color:rgba(1,175,196,1);
    margin:10px;
    margin-top:5px;
    cursor:pointer;
  }
  .save_edit_btn{
    float: right;
    color:rgba(1,175,196,1);
    margin:10px;
    margin-top:5px;
    cursor:pointer;
  }

  #template_message{
    height:70px;
    border:solid;

  }

  .chat_message{
    width: 70%;
    height:auto;
    display:block;
    padding:5px;
    cursor:default;
    border-radius:2px;
    padding-left: 20px;

  }

  .reply_message{
    width: 70%;
    height:auto;
    display:block;
    padding:10px;
    cursor:default;
    border-radius:2px;
    margin-left: 10px;
    border-left: 4px solid rgba(1,175,196,1);
    line-height: 22px;
  }

  .vertical_line{
    width: 5px;
    height: 100%;
    background-color: rgba(1,175,196,1);
    padding-left: 3px;
    padding-right: 3px;
  }

  .second_tier_reply{
    width: 70%;
    height:auto;
    display:block;
    padding:20px;
    cursor:default;
    border-left: 8px double  rgba(1,175,196,1);
    border-radius:2px;
    margin-left: 10px;
    line-height: 22px;
  }

  /*.chat_message:hover{
    background-color:gray;
  }*/

  .chat_avatar_ball{
    order: 0;
    border-radius: 50%;
    display: inline-block;
    padding:3px;
    width:24px;
    height:24px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
  }

  .separator{
    border-style:solid;
    border-color: rgba(112,112,112,0.3);
    width:71%;
    border-width:1px;
  }

  .message_list_text{
    font-family: 'Open Sans';
    font-size:14px;
    line-height: 22px;
    margin-left: 15px;
    margin-right: 0px;
    font-weight: 300;
    white-space: pre-wrap;
  }

  .response_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }

  .likes_num{
    display:inline-block;
    margin-left:10px;
    color:rgba(250, 105, 128,1);
  }

  .dislikes_num{
    display:inline-block;
    margin-left:10px;
    color:rgba(250, 105, 128,1);
  }

  .goodargs_num{
    display: flex;
    margin-left:10px;
    color:rgba(250, 105, 128,1);
  }


  .message_list_timestamp{
    padding-top: 7px;
    order: 2;
    color: rgba(112,112,112,0.263);
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
  }

  .message_list_sender_name{
    order: 1;
    padding-top: 7px;
    margin-left:10px;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
  }

  .message_time{
    margin-left:10px;
    text-align: left;
    font: Italic 14px/42px Montserrat; 
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
  }

  .message_list_reply, .message_list_edit{
    float:right;
    font-family: Montserrat;
    color:rgba(0,96,115,1.0);
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
  }

  .message_list_delete{
    float:right;
    font-family: Montserrat;
    color: rgba(250, 105, 128,1);
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    line-height: 22px;
  }

  #chat_message_container{
    width: 70%;
    height:100px;
    bottom:0px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
  }

  .sender_container{
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
    height: 35px;
    width: 40%;
  }

  .likes_number, .dislikes_number, .goodargs_number{
    font-size: 13px;
    font-style:italic;
    color:#FA6980;
    font-family: Montserrat;
    display:inline-block;
  }

  .noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}