@import url("https://use.typekit.net/gbv0ney.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

.loader_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  background-color: white;
  z-index: 98;
}

.loader {
  position: absolute;
  top: 15%;
  left: 45.3%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(1,175,196,1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: rgba(1,175,196,1);
  z-index: 99;
}


body, html{
  max-width:100%;
  margin:auto;
  height:100%;
  overflow-x: hidden;
}

.separator{
  width: 100%;
  height: 1px;
  background-color: rgba(1,175,196,0.4);
  margin-top: 15px;
  margin-bottom: 10px;
}

#container {
  display:none;
}

#container-mobile{
  width: 100%;
}

#lobby_latest_messages_title_mobile{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 25px;
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.mobile_button{
  width: 80%;
  background-color: rgba(1,175,196,1);
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  margin: auto;
}

.arrow{
  margin-left: 20px;
  padding-right: 35px;
}


#lobby_latest_participants_title{
    width: 100%;
    height: 50px;
    background-color: rgba(1,175,196,1);
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

#lobby_title{
  padding:30px 0px 10px;
  position:relative;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: bold;
  color: rgba(32,33,36,1);
}

#lobby_header{
  margin:auto;
  width:100%;
  padding:0px 5%;
  background-color:white;
}

div .active{
  background-color: rgba(157,224,232,1);
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat;
  
}
div .inactive{
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat;
  background-color: rgba(255,255,255,1);
}

.wrapper{
  display:table;
}

.row{
  display:table-row;
}

#lobby_content_background{
  width:100%;
  float:left;
  height:auto;
  background-color: rgba(246,248,249,1);
}

#lobby_content{
  position:relative;
  margin:auto;
  width:100%;
  padding:20px;
  max-width:90%;
  height:auto;
}

#lobby_duration{
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 13px;
  color: rgba(1,175,196,1);
}

#lobby_content_description{
  float:left;
  width:30%;
  height:100%;
  margin-top:20px;
  padding:0px 10px 200px 0px;
  border-style: none solid none none;
  border-color: rgb(0,0,0,0.1);
}

#lobby_description_title_mobile{
  margin-left: 20px;
  text-align: left;
  font: Bold 24px/42px Montserrat;
  letter-spacing: 0;
  color: rgba(0,96,115,1);
}

#lobby_description_mobile{
  margin:20px 20px;
  text-align: justify;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  color: rgb(0,0,0,1);
  opacity: 1;
}

#lobby_social{
  margin-left: 20px;
  border-style: none none dashed none;
  border-color: rgb(0,0,0,0.1);
  padding:10px 0px;
}

#lobby_social span{
  margin:5px 5px 0px 5px;
}

#lobby_creator_title{
  text-align: left;
  margin-top:20px;
  font: Bold 16px/26px Montserrat;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

#lobby_creator{
  line-height: 26px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  color:rgba(166,173,180,1);
  margin-top:5px;
  margin-left:5px;
}

#lobby_tags{
  margin-top:30px;
}

.lobby_tag{
  display:inline-block;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding: 4px;
  color: rgba(1,175,196,1);
  border: 1px solid !important;
  border-color: rgb(1, 175, 196);
  border-radius: 3px;
  border: rgb(1, 175, 196);
  background-color: white;
  margin-top:3px;
  margin-left:3px;
  cursor:pointer;
}

.lobby_chat_message{
  margin: 0px 20px 0px 20px;
}

#lobby_recent_activity{
  float:left;
  width:100%;
  height:100%;
  margin-top:20px;
}

#join_council_btn_mobile{
  margin-left:25%;
  margin-top: 20px;
  padding:5px 15px;
  border-radius:5px;
  width: 40%;
  cursor:pointer;
  display:none;
  text-align: center;
  font: Bold 11px/20px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  background-color:#CBE781;
  text-align: center;
}

#leave_council_btn_mobile{
  margin-top:20px;
  margin-left: 25%;
  padding:5px 15px;
  border-radius:5px;
  width: 40%;
  cursor:pointer;
  display: flex;
  justify-content: space-around;
  background-color:#FE0456;
  text-align: center;
  font: Bold 11px/20px Montserrat;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-align: center;
}

.disabled{
  cursor:default;
  color:rgba(0,0,0,0.5);
  pointer-events: none;
}

.lobby_title_font{
  line-height: 42px;
  text-align: left;
  font-family: acumin-pro, sans-serif;
  font-size:32px;
  font-weight: bold;
}

.lobby_title_font{
  margin: 15px 0px;
  text-align: left;
  font: Bold 20px/24px Montserrat;
  letter-spacing: 0;
  color: #006073;
  opacity: 1;
}

.council_start, .council_end{
  position: relative;
  float: left;
  text-align: center;
}

.start_date, .end_date
{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.council_progress_bar{
  margin-top: 23px;
  margin-left: -15px;
  margin-right: -16px;
  float: left;
  height: 15px;
  width: 60%;
  background-color: rgba(245,246,250,1);
}


.chat_avatar_ball{
  border-radius: 50%;
  display: inline-block;
  padding:3px;
  width:24px;
  height:24px;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
}

.message_list_sender_name{
  margin-left:10px;
  display:inline-block;
  text-align: left;
  font: Bold 24px/42px Montserrat;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

.message_text{
  text-align: left;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
  margin: 10px 0px;
}

#lobby_likes, #lobby_dislikes, #lobby_people{
  text-align: left;
  font: 13px/26px Helvetica;
  letter-spacing: 0;
  color: #FA6980;
  opacity: 1;
  display:inline-block;
  padding: 0px 0px 5px 0px;
}

#lobby_likes_icon, #lobby_dislikes_icon, #lobby_people_icon{
  display:inline-block;
  height:15px;
  width:15px;
}

#lobby_likes_icon{
  background:url("/res/thumbup.png") no-repeat;
}

#lobby_dislikes_icon{
  background:url("/res/thumbdown.png") no-repeat;
}

#lobby_people_icon{
  background:url("/res/person.png") no-repeat;
}


.opened{
  background-color: rgba(0,96,115,1);
}

.closed{
  background-color: rgba(1,175,196,1);
}

@media (min-width: 1000px)
{
  body, html{
    max-width:100%;
    margin:auto;
    height:100%;
    overflow-x: hidden;
  }

  #container-mobile{
    display: none;
  }

#present_users_container{
  margin-top: 20px;
  border-color: rgb(0,0,0,0.1);
  border-style: dashed none none none;
}

#present_users_title{
  text-align: left;
  margin-top: 20px;
  padding-bottom: 10px;
  font: Bold 16px/26px Montserrat;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

#present_users{
  
}

.userlist-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 5px;
  height: 24px;
}

.userlist-username{
  width: 80%;
  font-family: Montserrat;
  font-size: 14px;
  color: rgba(0,0,0,1);
}

.active_indicator{
  width: 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.sleeping_indicator{
  width: 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0H24V24H0z'/%3E%3Cpath d='M11 11v2l-5.327 6H11v2H3v-2l5.326-6H3v-2h8zm10-8v2l-5.327 6H21v2h-8v-2l5.326-6H13V3h8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
 
.lobby_meta_container{
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.lobby_home_text{
  padding-bottom: 25px;
  font-weight: bold;
}

  #container {
    display: inline-block;
    width:100%;
    height: calc(100% - 0px - 69px - 60px - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 25px;
    background-color: rgba(246,248,249,1);
  }

  #lobby_container{
    margin:auto;
    width:90%;
    margin:0px 5%;
  }

  #lobby_title{
    padding:30px 0px 10px;
    position:relative;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: bold;
    color: rgba(32,33,36,1);
  }

  #lobby_header{
    margin:auto;
    width:100%;
    padding:0px 10%;
    background-color:white;
  }

  #lobby_starttime, #lobby_endtime{
    margin-right:50px;
    display:inline-block;
    font-family: Montserrat;
    font-size:23px;
    color: rgba(0,96,115,1);
    margin-top:10px;
  }

  #lobby_milestones{
    display:none;
    margin-top:20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/res/temp_milestone.png");
    height:130px;
    margin-left:5%;
  }

  #lobby_navigation{
    position: relative;
    width:100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    color:black;
    font-family: Montserrat;
  }

  div .active{
    background-color: rgba(157,224,232,1);
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat; 
    height: 15px;
  }

  div .inactive{
    background-color: rgba(255,255,255,1);
    height: 15px;
  }

  .wrapper{
    display:table;
  }

  .row{
    display:table-row;
  }

  #lobby_content_background{
    width:100%;
    float:left;
    height:auto;
    background-color: rgba(246,248,249,1);
  }

  #lobby_content{
    position:relative;
    margin:auto;
    width:100%;
    padding:20px;
    max-width:90%;
    height:auto;
  }

  #lobby_content_description{
    float:left;
    width:30%;
    height:100%;
    margin-top:20px;
    padding:0px 10px 200px 0px;
    border-style: none solid none none;
    border-color: rgb(0,0,0,0.1);
  }

  #lobby_description_title{
    text-align: left;
    font: Bold 32px/42px Montserrat;
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
  }

  #lobby_description{
    margin:20px 0px;
    text-align: left;
    font: 18px/26px Montserrat;
    letter-spacing: 0;
    color: rgb(0,0,0,1);
    opacity: 1;
  }

  #lobby_social{
    border-style: none none dashed none;
    border-color: rgb(0,0,0,0.1);
    padding:30px 0px;
  }

  #lobby_social span{
    margin:5px 5px 0px 5px;
  }

  #lobby_creator_title{
    text-align: left;
    margin-top:20px;
    font: Bold 16px/26px Montserrat;
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
  }

  #lobby_creator{
    line-height: 26px;
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    color:rgba(166,173,180,1);
    margin-top:5px;
    margin-left:5px;
  }

  #lobby_tags{
    margin-top:30px;
  }

  .lobby_tag{
    display:inline-block;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 4px;
    color: rgba(1,175,196,1);
    border: 1px solid !important;
    border-color: rgb(1, 175, 196);
    border-radius: 3px;
    border: rgb(1, 175, 196);
    background-color: white;
    margin-top:3px;
    margin-left:3px;
    cursor:pointer;
  }

  #lobby_recent_activity{
    float:left;
    width:65%;
    height:100%;
    margin-top:20px;
    padding-left: 30px;
  }

  #join_council_btn{
    width: 10%;
    margin-top:20px;
    padding:5px 15px;
    border-radius:5px;
    cursor:pointer;
    display:none;
    text-align: center;
    font: Bold 11px/20px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background-color:#CBE781;
  }

  #leave_council_btn{
    width: 10%;
    margin-top:20px;
    padding:5px 15px;
    border-radius:5px;
    cursor:pointer;
    display:none;
    background-color:#FE0456;
    text-align: center;
    font: Bold 11px/20px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

  .disabled{
    cursor:default;
    color:rgba(0,0,0,0.5);
    pointer-events: none;
  }

  .lobby_title_font{
    line-height: 42px;
    text-align: left;
    font-family: acumin-pro, sans-serif;
    font-size:32px;
    font-weight: bold;
  }

  .lobby_title_font{
    margin: 15px 0px;
    text-align: left;
    font: Bold 20px/24px Montserrat;
    letter-spacing: 0;
    color: #006073;
    opacity: 1;
  }

  #lobby_progress
  {
    margin-top: 5%;
    margin-left:5%;
    position: relative;
    display: inline-block;
    width: 40%;
    z-index: 1;
  }

  .start_ball, .end_ball{
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    align-self: center;
    z-index: 2;
  }

  .council_timeline{
    position: relative;
    width: 1%;
    background-color: rgba(1,175,196,1);
    height: 15px;
    z-index: 2;
  }

  .passed {
    mix-blend-mode: hue;
    color: rgba(255, 206, 78 , 1);
  }

  .council_start, .council_end{
    position: relative;
    float: left;
    text-align: center;
  }

  .start_date, .end_date
  {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .council_progress_bar{
    margin-top: 23px;
    margin-left: -15px;
    margin-right: -16px;
    float: left;
    height: 15px;
    width: 60%;
    background-color: rgba(245,246,250,1);
  }


  .chat_avatar_ball{
    border-radius: 50%;
    display: inline-block;
    padding:3px;
    width:24px;
    height:24px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
  }

  .message_list_sender_name{
    margin-left:10px;
    display:inline-block;
    text-align: left;
    font: Bold 24px/42px Montserrat;
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
  }

  .message_text{
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #202124;
    opacity: 1;
    margin: 10px 0px;
  }

  #lobby_likes, #lobby_dislikes, #lobby_people{
    text-align: left;
    font: 13px/26px Helvetica;
    letter-spacing: 0;
    color: #FA6980;
    opacity: 1;
    display:inline-block;
    padding: 0px 0px 5px 0px;
  }

  #lobby_likes_icon, #lobby_dislikes_icon, #lobby_people_icon{
    display:inline-block;
    height:15px;
    width:15px;
  }

  #lobby_likes_icon{
    background:url("/res/thumbup.png") no-repeat;
  }

  #lobby_dislikes_icon{
    background:url("/res/thumbdown.png") no-repeat;
  }

  #lobby_people_icon{
    background:url("/res/person.png") no-repeat;
  }
  
.disabled_button{
  background-color: lightgray !important;
  color: rgba(0,0,0,0.5) !important;
}

}