@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body, html{
  font-family: Montserrat;
  margin:0;
  height: 100%;
}

body{
  overflow-x:hidden;
}

#main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title, #arrow_left{
  display:none;
}

#container {
  width:100%;
  min-height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#hero{
  margin-top: 20px;
  height:300px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("/res/hero_image_mobile.png");
  background-repeat: no-repeat;
  color:white;
}

#main_text_mobile, #secondary_text_mobile{
  text-align: right;
  display:block;
  margin-right: 5%;
  font-weight: bold;
  text-shadow: 1px 1px 10px #000000;
}

#main_text_mobile{
  font-family: Montserrat Alternates;
  font-size: 28px;
}

#secondary_text_mobile{
  position:relative;
  font-family: Montserrat;
  font-size: 16px;
  bottom:-50px;
}

#council_container{
  max-width: 320px;
  margin:auto;
}

/*Council css*/
.council_box{
  float:left;
  margin:10px;
  position:relative;
  border-radius: 5px;
  height:300px;
  width:300px;
  backround:white;
  border:solid;
  border-width: 0px;
  margin-top:40px;
  cursor:pointer;
  box-shadow: 1px 1px 5px #000000;
}

.council_box:hover{
  box-shadow: 2px 2px 10px #000000;
}

.council_box .council_picture{
  background-image: url("/res/council_picture.png");
  position:relative;
  height:150px;
  width:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.council_box .council_title{
  position:relative;
  max-height: 60px;
  overflow: hidden;
  width:100%;
  z-index: 1;
  padding:10px;
  font-weight: bold;
}

.council_box .council_description{
  position:relative;
  color:#BBBBBB;
  font-size: 14px;
  margin-left:10px;
  margin-right:10px;
  max-height: 42px;
  overflow:hidden;
}

.council_box .council_likes{
  margin-top:5px;
  position:relative;
  float:left;
  margin-left: 10px;
}
.council_box .council_dislikes{
  margin-top:5px;
  position:relative;
  float:center;
  margin-left:5px;
}
.council_box .council_people{
  margin-top:5px;
  position:relative;
  float:right;
  margin-left: 5px;
  margin-right:10px;
}

.council_box .council_time{
  position:relative;
  margin-left: 10px;
}

/*Everything below is css for desktop view of the website.*/
@media (min-width:800px){
  #main_text_mobile, #secondary_text_mobile{
    display:none;
  }

  #main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title{
    display:inline-block;
  }

  #hero_text{
    position:relative;
    float:right;
    width:70%;
    padding: 50px;
  }

  #main_text_desktop{
    position:relative;
    font-family: Montserrat Alternates;
    text-align: center;
    display:block;
    font-weight: bold;
    text-shadow: 1px 1px 10px #000000;
    font-size: 40px;
    font-weight: bold;
  }
  #secondary_text_desktop{
    position:relative;
    font-family: Montserrat;
    text-align: center;
    display:block;
    font-weight: bold;
    text-shadow: 1px 1px 10px #000000;
    font-size: 24px;
    font-weight: bold;
  }

  #hero{
    position: relative;
    height:450px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/res/hero_image2.png");
    background-repeat: no-repeat;
    color:white;
  }

  #hero_search_councils_btn_desktop{
    margin: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    cursor: pointer;
    font-weight: bold;
  }

  #council_container{
    max-width: 1200px;
    margin:auto;
  }

  #filter{
    margin:20px;
    max-width: 1200px;
    position:relative;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    font-weight: bold;
  }

  #filter #selector, #sorter, #search{
    float:left;
    margin: 0 auto;
    cursor: pointer;
  }

  .selector_btn:hover{
    box-shadow: 1px 1px 5px rgba(254,4,86,1);
  }

  #selector #ongoing, #newest, #popularest{
    float:left;
    margin-left:10px;
    margin-right:10px;
  }

  .inactive{
    padding:5px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(254,4,86,1);
    color: rgba(254,4,86,1);
  }

  .active {
    padding:5px;
    background: rgba(254,4,86,1);
    color:white;
    border-radius: 5px;
    border-width: 1px;
    border:solid;
    border-color: rgba(254,4,86,1);
  }

  #sorter #list, #small_grid, #large_grid{
    margin-left:1px;
    padding: 5px;
    position:relative;
  }

  .sorter_active{
    background: rgba(1,175,196,1);
    border-color: white;
    border-radius: 2px;
    color: white;
  }

  .sorter_inactive{
    background: white;
    border-color: rgba(1,175,196,1);
    border-radius: 2px;
    color: rgba(1,175,196,1);
  }

  #filter #search {
    margin-left:50px;
  }

  #council_title {
    margin: 20px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
  }

  #council_list{
  }

  .council_box{
    float:left;
    margin:40px;
    position:relative;
    border-radius: 5px;
    height:300px;
    width:300px;
    backround:white;
    border:solid;
    border-width: 0px;
    margin-top:40px;
    cursor:pointer;
    box-shadow: 1px 1px 5px #000000;
  }
}
