@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,800');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#cookie_popup{
  position: fixed;
  left: 0%;
  top: 0%;
  display:block;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px rgba(32,33,36,1);
  font-family: Montserrat;
  z-index: 97;
}

#cookie_background{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32,33,36,0.9);
  z-index: 96;
}

.popup_container{
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
  height: 90%;
  display: block;
  background-color: white;
}

.popup_text{
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Montserrat;
  font-size: 13pt;
}

.popup_button_container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
  height: 50px;
}

.popup_button{
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(1,175,196,1);
  color: rgba(255,255,255,1);
  height: 50px;
  margin-right: 5%;
  cursor: pointer;
}

.loader_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  background-color: white;
  z-index: 98;
}

.loader {
  position: absolute;
  top: 15%;
  left: 45.3%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(1,175,196,1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  color: rgba(1,175,196,1);
  z-index: 99;
}


html, body{
  padding:0;
  margin:0;
  overflow-y: scroll;
}

/* Scrollbar/chat adjusts 18102021; added to html over-flow: y + in body overflow-y: auto */

html{
  background-size: cover;
  overflow-y: hidden;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 150%;
  background-color: #F6F8F9;

}

#main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title, #arrow_left, .desktop-header{
  display:none;
}

#logo_url
{
  width: 123px;
}

#container {
  width:100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #F6F8F9;
  background-image: url("/res/banneriinopysty.png"), url("/res/banneriinopysty.png");
  background-position: right top, left top;
  background-repeat: repeat-y, repeat-y;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#hero{
  height:300px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  text-align: center;
}

#hero_text{
  margin-top: 90px;
  margin-right: 10px;
  width: 70%;
  float: right;
}

.council_time_box{
  margin-left: 37px;
  display: inline-block;
  width: 80%;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

#main_text_mobile, #secondary_text_mobile{
  text-align: center;
  display:block;
  margin-right: 5%;
  font-weight: bold;
  text-shadow: 1px 2px 6px #0000006F;
  opacity: 1;
}

#main_text_mobile{
  font-family: Montserrat Alternates;
  font-size: 28px;
}

#secondary_text_mobile{
  position:relative;
  font-family: Montserrat;
  font-size: 16px;
  bottom:-10px;
  text-shadow: 1px 2px 6px #0000006F;
  opacity: 1;
}

#council_container{
  max-width: 100%;
  margin:auto;
  height: auto;
}

/*Council css*/
.council_box{
  float:left;
  margin:20px 40px 20px 0px;
  position:relative;
  border-radius: 5px;
  height:360px;
  width:100%;
  background-color:white;
  border:solid;
  border-width: 0px;
  cursor:pointer;
  background-color: white;
  z-index: 5;
}

.council_box:hover{
  box-shadow: 2px 2px 10px #000000;
}

.council_box .council_picture{
  background-image: url("/res/banner-air.jpg");
  position:relative;
  height:165px;
  width:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.council_box .council_title{
  padding-top: 5px;
  padding-left: 10px;
  left: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  position:relative;
  max-height: 60px;
  overflow: hidden;
  width:100%;
  z-index: 1;
  font-weight: bold;
}

.council_description{
  display: block;
  position:relative;
  color:#BBBBBB;
  font-size: 14px;
  margin-left:10px;
  margin-right:10px;
  max-height: 42px;
  overflow:hidden;
}

.description_box{
  position: relative;
  left: 40px;
  display: inline-block;
  width: 80%;
  height: 65px;
  font-family: Open Sans;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.council_time{
  display:block;
  margin-left: 10px;
}

.reaction_box{
  display: flex;
  position: relative;
  left: 30px;
  width: 80%;
  height: 30px;
}

.people_box, .likes_box, .dislikes_box{
  display: flex;
  padding-right: 10%;
}

.council_likes_icon, .council_dislikes_icon, .council_people_icon{
  float:left;
  height:15px;
  width:15px;
  margin:0px 5px 0px 10px;
}

.council_likes_icon{
  background:url("/res/thumbup.png") no-repeat;
  display:block;
}

.council_dislikes_icon{
  background:url("/res/thumbdown.png") no-repeat;
}

.council_people_icon{
  background:url("/res/person.png") no-repeat;
}

.council_btn{
  float:left;
  display:inline-block;
}
/* Scrollbar mainiin 19102021 */

@media (max-width: 999px)
{
  html{
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
/*Everything below is css for desktop view of the website.*/
@media (min-width:1000px){

#cookie_popup{
  position: fixed;
  left: 25%;
  top: 25%;
  display:block;
  width: 50%;
  height: 40%;
  background-color: white;
  box-shadow: 2px 2px rgba(32,33,36,1);
  font-family: Montserrat;
  z-index: 97;
}

#cookie_background{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32,33,36,0.9);
  z-index: 96;
}

.popup_container{
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
  height: 90%;
  display: block;
  background-color: white;
}

.popup_text{
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Montserrat;
  font-size: 13pt;
}

.popup_button_container{
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: 5%;
  margin-left: 50%;
  height: 50px;
}

.popup_button{
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(1,175,196,1);
  color: rgba(255,255,255,1);
  height: 50px;
  margin-right: 5%;
  cursor: pointer;
}
  
.lobby_meta_container{
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.lobby_home_text{
  padding-bottom: 25px;
  font-weight: bold;
}

.active{
  background-color: rgba(157,224,232,1);
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat;
  height: 15px;  
  opacity: 1;
}

.inactive{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: normal;
  background-color: rgba(255,255,255,1);
  opacity: 0;
  height: 15px;
}

  #main_text_mobile, #secondary_text_mobile, .mobile-header{
    display:none;
  }

  .desktop-header{
    display:block;
  }

  #main_text_desktop, #secondary_text_desktop, #hero_search_councils_btn_desktop, #filter, #council_title{
    display:inline-block;
  }

  #hero_text{
    margin: 0px;
    position:relative;
    float:right;
    width:50%;
    padding: 50px;
  }

  #main_text_desktop{
    position:relative;
    display:block;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 57px;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 2px 6px #0000006F;
    opacity: 1;
    margin-top:30px;
  }

  #secondary_text_desktop{
    margin-top:35px;
    position:relative;
    display:block;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 2px 6px #00000029;
    opacity: 1;
  }

  #hero{
    padding:0px;
    margin:0px;
    position: relative;
    height:479px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/res/hero_image.jpg");
    background-repeat: no-repeat;
    color:white;
  }

  #hero_search_councils_btn_desktop{
    margin: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,-10%);
    cursor: pointer;

    padding: 5px 15px;
    letter-spacing: 0;
    font-size:10px;
    line-height: 15px;
    font-family: Montserrat;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }

  #council_container{
    min-width:90%;
    max-width: 320px;
    height: 100%;
    overflow-y: auto;
    margin:auto;
  }

  #filter{
    width:auto;
    margin-top:20px;
    width:90%;
    font-weight: bold;
  }
  
  #sorter, #search{
    float:left;
    cursor: pointer;
  }

  #selector{
    float: left;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }


  #sorter{
    margin-left:10%;
  }

  #ongoing, #newest, #popularest{
    padding:5px 15px;
  }

  .selector_btn{
  padding-bottom: 25px;
  font-weight: bold;
  }

  #sorter #list, #small_grid, #large_grid{
    margin-left:1px;
    padding: 5px;
    position:relative;
  }

  .sorter_btn{
    padding:5px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 31px;
    background-color:black;
    width: 31px;
    height: 31px;
    text-align: center;
    vertical-align: bottom;
  }

  .sorter_active{
    background: rgba(1,175,196,1);
    border-color: white;
    color: white;
  }

  .sorter_inactive{
    background: white;
    border-color: rgba(1,175,196,1);
    color: rgba(1,175,196,1);
  }

  #filter{
    margin-left:50px;
  }

  #search{
    margin-left: 150px;
    color:#01AFC4;
  }

  #search_input{
    right: 100px;
    margin-left:7px;
    border-color:rgba(1, 175, 196, 0.3);
    border-radius:5px;
  }

  .council_title {
    padding-top: 10px;
    position: relative;
    left: 30px;
    top: 10px;
		overflow: hidden;
		width: 281px;
		height: 26px;
		line-height: 20px;
		margin-top: 10px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
    color: rgba(32,33,36,1);
    margin-bottom: 15px;
  }

  .council_box{
    float:left;
    position:relative;
    border-radius: 5px;
    height:360px;
    width:350px;
    background-color:white;
    border:solid;
    border-width: 0px;
    cursor:pointer;
  }

  .reaction_box{
    display: flex;
    position: relative;
    left: 30px;
    width: 80%;
    height: 30px;
  }

  .people_box, .likes_box, .dislikes_box{
    display: flex;
    padding-right: 10%;
  }

  .council_likes_icon, .council_dislikes_icon, .council_people_icon
  {
    padding-top: 5px;
    float: left;
  }

  .council_time_box{
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
  }
   
  .council_likes_number, .council_dislikes_number, .council_people_number{
    float: left;
    padding-left: 5px;
    padding-bottom: 3px;
  }

  .description_box{
    position: relative;
    left: 40px;
    display: inline-block;
    width: 80%;
    height: 65px;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .council_description{
    display: inline-block;
    position: relative;
		left: 40px;
		top: 25px;
		overflow: visible;
		width: 281px;
		height: 53px;
		line-height: 23px;
		margin-top: -5px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(166,173,180,1);
  }

  .council_box div{
    font-family: Montserrat;
  }
}

@media (min-width:1000px){

  body{
    height: 100vh;
  }

  #main_text_desktop{
    text-align: right;
  }

  #secondary_text_desktop{
    text-align: right;
  }

  #hero_text{
    width:70%;
  }
}
