body, html{
  font-family: Montserrat;
  margin:0;
  height: 100%;
}

body{
  overflow-x:hidden;
}

.popup_container{
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.popup_box{
  position: fixed;
  left: 15%;
  top: 5%;
  display:block;
  width: 70%;
  height: 80%;
  background-color: white;
  box-shadow: 2px 2px rgba(32,33,36,1);
  font-family: Montserrat;
  z-index: 97;
}

.grey_fadeout_layer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32,33,36,0.9);
  z-index: 96;
}

#popup_container{
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
  height: 90%;
  display: block;
  background-color: white;
}

.header_text{
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Montserrat;
  font-size: 18pt;
  font-weight: bold;
}

.popup_button_container{
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: 5%;
  margin-left: 50%;
  height: 50px;
  bottom: 5%;
  position: inherit;
}

.popup_button{
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(1,175,196,1);
  color: rgba(255,255,255,1);
  height: 50px;
  margin-right: 5%;
  cursor: pointer;
}

#register_error_text{
  display:none;
  color:red;
  font-size: 15px;
  padding-top:50px;
}

#register_title{
  padding-top: 10px;
  font-size: 20px;
  text-align: left;
  font: Bold 32pt/42pt Montserrat;
  letter-spacing: 0;
  color: #202124;
  opacity: 1;
}

#register_disclaimer{
  font-family: Montserrat;
  font-size: 16px;
  padding-bottom: 15px;
  margin-left: 10px;
}

#register_hero, #register_hero_text{
  display:none;
}

#register_container{
  max-width: 320px;
  margin:auto;
}

#header_div{
  height: 50px;
}

#confirm_register{
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  margin-left: 22%;
  border-radius: 5px;
  padding: 15px 15px;
  letter-spacing: 0;
  font-size:16px;
  line-height: 15px;
  font-family: Montserrat;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  background-color: rgba(254,4,86,1);
}

#register_avatar_preview{
  border:solid;
  border-width: 1px;
  width: 50px;
  height: 50px;
}

#register_inputs p{
  font-size: 13px;
  font-family: Montserrat;
  font-weight: normal;
  text-align: left;
  margin-left:20%;
  position:relative;
  font-weight: bold;
  margin-top:14px;
  margin-bottom:2px;
}

#register_inputs input[type=text], input[type=email], input[type=password]{
  font-family: Montserrat;
  font-size: 14px;
  position:relative;
  width:60%;
  margin-left: 20%;
  border-radius: 3px;
  height: 30px;
  border: 2pt solid #EBEDED;
  border-radius: 6pt;
}

#footer_separator{
  height:300px;
  width:100%;
  cursor:default;
}

#confirm_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width:800px){
  #register_hero, #register_hero_text{
    display:block;
  }

  #register_hero{
    padding:0px;
    margin:0px;
    position: relative;
    width: 100%;
    height:250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/res/register_hero2.png");
    background-repeat: no-repeat;
    color:white;
  }
  #register_hero_text{
    position:relative;
    text-align: center;
  }

  #register_main_text_desktop{
    position:relative;
    display:block;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 57px;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 2px 6px #0000006F;
    opacity: 1;
    margin-top:30px;
  }

  #register_secondary_text_desktop{
    margin-top:35px;
    position:relative;
    display:block;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 2px 6px #00000029;
    opacity: 1;
  }

  #register_hero_search_councils_btn_desktop{
    margin: auto;
    position: absolute;
    bottom:-30px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    width: 130px;
    height: auto;
  }

  #register_title{
    float:left;
    margin-left:20%;
    padding-top: 20px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
  }

  #register_container{
    max-width: 1200px;
    margin:auto;
  }

  #register_avatar_preview{
    border:solid;
    border-width: 1px;
    width: 50px;
    height: 50px;
  }

  #register_inputs input[type=text], input[type=email], input[type=password]{
    font-size: 14px;
    font-family: Montserrat;
    position:relative;
    width:60%;
    border-radius: 3px;
    height: 30px;
  }
  #register_inputs p{
    position:relative;
    font-weight: normal;
    font-family: Montserrat;
    font-size: 14px;
    margin-top:14px;
    margin-bottom:6px;
  }

  #register_disclaimer{
    font-family: Montserrat;
    margin-top: 0px;
    display:inline-block;
    float:left;
    margin: 0px 0px 0px 10px;
  }

  #policy_agreement_checkbox{
    display:inline-block;
    margin-left:20%;
    margin:20px 0px 20px 20%;;
    float:left;
  }

  .active {
    padding:5px;
    background: rgba(254,4,86,1);
    color:white;
    border-radius: 5px;
    border-width: 1px;
    border:solid;
    border-color: rgba(254,4,86,1);
  }

  #confirm_register{
    position:relative;
    width:80px;
    cursor: pointer;
    border-radius: 5px;
    margin: 50px 20% 0px;
    padding: 5px 15px;
    letter-spacing: 0;
    font: Bold 11px/20px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background-color: rgba(254,4,86,1);
  }
}
